/* stylelint-disable */
@import 'shared';

:export {
  white: $white;
  black: $black;
  xsmall: map-get($breakpoints, xsmall);
  small: map-get($breakpoints, small);
  msmall: map-get($breakpoints, msmall);
  medium: map-get($breakpoints, medium);
  large: map-get($breakpoints, large);
  slarge: map-get($breakpoints, slarge);
  mlarge: map-get($breakpoints, mlarge);
  hd: map-get($breakpoints, hd);
  fullhd: map-get($breakpoints, fullhd);
  xlarge: map-get($breakpoints, xlarge);
}
